# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List some of the most poular languages used by data scientists
- List some of the most used libiraries by data scientists
- Perform some basic arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy 
2. pandas
3. matplotlip

|Data Science Tools|
--------------------
|Jupyter notebooks|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Salma